.sidebar {
  background-color: #f7f2ef;
  padding: 16px;
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 18%;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateX(-100%);
  opacity: 1;
  pointer-events: auto;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.sidebar.open {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

.sidebar.closed {
  transform: translateX(-110%);
  opacity: 0;
  pointer-events: none;
}

.sidebar input,
.sidebar label,
.sidebar select {
  display: block;
  margin-bottom: 10px;
  background-color: #fff;
  border: none;
}

.sidebar.closed input,
.sidebar.closed label,
.sidebar.closed select {
  display: block;
  margin-bottom: 10px;
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.sidebar label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #fff;
}

.sidebar-item {
  display: block;
  margin-bottom: 10px;
  width: 80%;
  padding: 8px;
  color: #857979;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
}

.sidebar select {
  width: 87%;
  color: #857979;
}

.sidebar select option {
  background-color: #ffffff;
  color: #333;
}

.sidebar select option:hover {
  background-color: #c29f89;
  color: #333;
}

.sidebar select option:checked {
  background-color: #e0e0e0;
  color: #333;
}

.sidebar input[type='text']::-webkit-input-placeholder {
  width: 80%;
  color: #857979;
}

.sidebar button {
  width: 100%;
  padding: 8px;
  background-color: #fff;
  color: #857979;
  border: none;
  text-align: center;
}
